html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* enter code below */

.container {
  width:100%;
	height: 100%;
	background-color: #CDCDCD;
	display: block;
}

.hoz_line {
	position: absolute;
	top:0px;
	left:0px;
	display: block;
	height:100px;
}


.hoz_bot_line {
	position: fixed;
	right: 0px;
	bottom: 0px;
	display: block;
	height: 100px;
}

.ver_line {
	position: fixed;
	top:0px;
	left:0px;
	display: inline;
	height: 250px;
}

.ver_line1 {
	position: fixed;
	bottom:0px;
	right:0px;
	display: inline;
	height: 250px;
}

.main {
	width: 100%;
	padding-top: 100px;
	display: block;
}

.intro {
	font-size: 4em;
	color: #0B3C5D;
	float: center;
	display: inline-block;
	padding-left: 200px;
	height: 100px;
}


.main .p1 ,.p2 {
	width: 60%;
	padding-left: 200px;
	margin: 15px;
	margin-left: 20px;
	line-height: 1.3;
	color:#626E60;
	font-size: 1.2em;
	font-family: 'Quicksand', monospace;
}

.main p {
	margin-top: 10px;
}


.line1 {
	display: inline-block;
	width: 500px;
	height:5px;
	margin: 40px 0 10px 30px;
	color:#004B8D;
	background-color: #004B8D;
	border-style: none;
	border-radius: 0;
}

.line2 {
	display: block;
	width: 400px;
	height: 3px;
	margin: 0 0 0 40px;
	color:#E8F7FF;
	background-color:#E8F7FF;
	border-style: none;
	border-radius: 0;

}

.line3 {
	display: inline-block;
	width: 500px;
	height: 5px;
	margin: 10px 30px 50px 0;
	color:#004B8D;
	background-color:#004B8D;
	border-style: none;
	border-radius: 0;

}

.line4 {
	display: block;
	width: 400px;
	height: 3px;
	margin: 40px 30px 0 90px;
	color:#E8F7FF;
	background-color:#E8F7FF;
	border-style: none;
	border-radius: 0;

}

.line5 {
	display: block;
	width: 12px;
	height: 200px;
	margin: 20px 0 0 50px;
	color: #5484A4;
	background-color:#5484A4;
	border-style: none;
	border-radius: 0;

}

.line6 {
	display: block;
	width: 12px;
	height: 200px;
	margin: 30px 50px 0 0;
	background-color:#5484A4;
	color: #5484A4;
	border-style: none;
	border-radius: 0;

}



.line7 {
	display: inline-block;
	width: 1px;
	height: 30px;
	margin: 2px;
}

.img1 {
	padding:10px;
	display: inline-block;;
	width: 30px;
	height: 30px;
}


.nev_container {
	position: fixed;
	bottom: 0%;
	left: 0%;
	margin-left: 50px;
	display: inline-block;
}

.nevbar1,.nevbar2,.nevbar3,.nevbar4,.nevbar5 {
	padding:0;
	bottom: -120%;
	display: inline-block;
	width: 50px;
	position: fixed;;
}

.nevbar1{
	left: 80px;
	height: 100px;
	background-color: #1D2731;
	-webkit-transition: height 0.3s linear; /* Safari */
  transition: height 0.3s linear;
}

.nevbar1:hover {
    height: 110px;
}

.nevbar2 {
	left: 130px;
	height: 80px;
	background-color: #006666;
	-webkit-transition: height 0.3s linear; /* Safari */
	transition: height 0.3s linear;
}
.nevbar2:hover {
    height: 90px;
}


.nevbar3 {
	left: 180px;
	height: 70px;
	background-color: #1D2731;
	-webkit-transition: height 0.3s linear; /* Safari */
	transition: height 0.3s linear;
}
.nevbar3:hover {
    height: 80px;
}

.nevbar4 {
	left: 230px;
	height: 85px;
	background-color: #006666;
	-webkit-transition: height 0.3s linear; /* Safari */
	transition: height 0.3s linear;
}
.nevbar4:hover {
    height: 95px;
}

.nevbar5 {
	left: 280px;
	height: 75px;
	background-color: #1D2731;
	-webkit-transition: height 0.3s linear; /* Safari */
	transition: height 0.3s linear;
}
.nevbar5:hover {
    height: 85px;
}


.nev_container p {
	color: white;
	float: right;
}






/* animations below this line*/
@-webkit-keyframes h_line {
	from {
		left: 120%;
	}
	to {
		left:0%;
	}
}
@-moz-keyframes h_line {
	from {
		left: 120%;
	}
	to {
		left:0%;
	}
}
@-o-keyframes h_line {
	from {
		left: 120%;
	}
	to {
		left:0%;
	}
}

@keyframes h_line {
	from {
		left: 120%;
	}
	to {
		left:0%;
	}
}

.hoz_line {
	-webkit-animation: h_line 1s  linear;
	-moz-animation: h_line 1s;
	-o-animation: h_line 1s;
	animation: h_line 1s;
}


@-webkit-keyframes h_line1 {
	from {
		right: 120%;
	}
	to {
		right:0%;
	}
}
@-moz-keyframes h_line1 {
	from {
		right: 120%;
	}
	to {
		right:0%;
	}
}
@-o-keyframes h_line1 {
	from {
		right: 120%;
	}
	to {
		right:0%;
	}
}

@keyframes h_line1 {
	from {
		right: 120%;
	}
	to {
		right:0%;
	}
}

.hoz_bot_line {
	-webkit-animation: h_line1 1s  linear;
	-moz-animation: h_line1 1s;
	-o-animation: h_line1 1s;
	animation: h_line1 1s;
}

@-webkit-keyframes v_line {
	from {
		top: 120%;
	}
	to {

	}
}
@-moz-keyframes v_line {
	from {
		top: 120%;
	}
	to {

	}
}
@-o-keyframes v_line {
	from {            <hr class="line7" color="#FFFFFF">

		top: 120%;
	}
	to {

	}
}

@keyframes v_line {
	from {
		top:  120%;
	}
	to {

	}
}

.ver_line {
	-webkit-animation: v_line 1s  linear;
	-moz-animation: v_line 1s;
	-o-animation: v_line 1s;
	animation: v_line 1s;
}

@-webkit-keyframes v_line1 {
	from {
		bottom: 120%;
	}
	to {

	}
}
@-moz-keyframes v_line1 {
	from {
		bottom: 120%;
	}
	to {

	}
}
@-o-keyframes v_line1 {
	from {
		bottom: 120%;
	}
	to {

	}
}

@keyframes v_line1 {
	from {
		bottom: 120%;
	}
	to {

	}
}

.ver_line1 {
	-webkit-animation: v_line1 1s  linear;
	-moz-animation: v_line1 1s;
	-o-animation: v_line1 1s;
	animation: v_line1 1s;
}
